body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none;
    color: #2d2f31;
  }
  







/* search page */
.search_maindiv {
    /* border: 2px solid green; */
    width: 85%;
    margin: auto;
    text-align: left;
}

/* My learning Page */
.header_mylearning {
    width: 100%;
    background-color: #333;
    color: white;
    font-size: larger;
    padding: 2% 0% 0% 0%;
    font-weight: bolder;
    text-align: left;
}

.my_learntopic {
    width: 80%;
    margin: auto;
}

.noitems_parent_mylearndiv {
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
}

.courses_list {
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    text-align: left;
}

/* Media Query for tablet */
@media only screen and (min-width:600px) and (max-width:975px) {
    .image-carousel {
        height: 25vh;
    }

    .trustedby_div {
        width: 100%;
        background-color: rgb(249, 247, 250);
        margin: auto;
        height: 25vh;
    }

    .mainbrandsimg_div {
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        justify-content: space-around;
    }

    .brandsimg_div {
        /* border: 2px solid black; */
        width: 20%;
        margin-bottom: 2%;
        margin-right: 1%;
        height: 6vh;
    }

    /* .learnercard_div {
        border: 1px solid rgb(178, 175, 175);
        width: 25%;
        height: fit-content;
        font-size: small;
        background-color: white;
        padding: 25px;
        text-align: left;
    } */

    .profile_learner {
        display: flex;
        margin-bottom: 8%;
    }

    .h4profilename {
        /* border: 2px solid black; */
        margin: 0% 0% 0% 2%;
    }

    .profileround {
        border-radius: 50%;
        background-color: black;
        width: 15%;
        height: 2vh;
    }

    .profileround h5 {
        margin: 0px 0px 0px 5px;
        padding-top: 20%;
        color: white;
    }

   

    /* become instructor div */
    .becomeinstruc_div {
        /* width: 88%;
        height: 300px; */
        /* height: 25vh; */
        /* border: 2px solid black; */
        /* margin: auto; */
        /* position: relative; */
        /* font-size:small; */
    }

    .becomeinstruc_imgdiv {
        /* width: 30%; */
        /* border: 2px solid black; */
        /* margin: 2% 0% 0% 17%; */
    }

    .becomeinstruc_contentdiv {
        /* border: 2px solid black; */
        /* margin-right: 5%; */
        /* text-align: left;
        width: 30%;
        position: absolute;
        top: 0%;
        left: 55%; */
    }

    .becomeinstruc_contentdiv p {
        /* font-size: small;
        font-weight: 400; */
    }

    .becomeinstruc_contentdiv button {
        /* padding: 4%;
        font-size: 1em;
        font-weight: bold;
        color: white;
        background-color: black; */
    }

    /* category page */

    .arrowimg {
        height: 5vh;
        /* border: 1px solid black; */
        /* border-bottom: #ccc; */
    }

    .mostitem_div {
        /* border: 2px solid black; */
        margin-right: 1%;
        height: 20vh;
        width: 18.4%;
        font-size: small;
        position: relative;
    }

    .arrow-container {
        position: absolute;
        /* bottom: 70%; */
        left: 20%;
        top: 30%;
        /* left: 100%; */
        /* right: -50%; */
        width: 20vh;
        padding: 15px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        z-index: 5;
    }

    .popinstruc_maindiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        /* height: 40vh; */
        /* border: 2px solid red; */
    }

    .popinstruc_main {
        box-sizing: border-box;
        display: flex;
        width: 45%;
        border: 1px solid black;
        padding-bottom: 1%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .buttondiv {
        display: flex;
        justify-content: space-between;
        /* border: 2px solid black; */
    }

    .addtocart {
        width: 150px;
        padding: 4%;
        background-color: blueviolet;
        color: white;
        font-size: medium;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    .heartbutton_img {
        width: 13%;
        height: 3vh;
    }

    .leftcontainer {
        width: 25%;
        /* border: 2px solid red; */
        height: fit-content;
        padding: 0px 20px 0px 0px;
    }

    .stars_div {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3%;
    }

    .item_imgdiv {
        border: 1px solid black;
        width: 30%;
        height: 12vh;
    }

    .item_maindiv {
        display: flex;
        position: relative;
        /* border: 2px solid brown; */
        height: 12vh;
        margin-bottom: 2%;
    }

    .arrow-containertwo {
        position: absolute;
        /* top: 20%; */
        bottom: 10%;
        left: 20%;
        /* top: 20%; */
        /* left: 100%; */
        /* right: -50%; */
        width: 20vh;
        padding: 15px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        z-index: 5;
    }

    .nonefooter {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .cartparent_div {
        display: flex;
        flex-wrap: wrap;
        /* border: 2px solid black; */
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .cartitems_div {
        width: 100%;
        /* border: 2px solid green; */

    }

    .totaldiv {
        width: 50%;
        margin: auto;
        /* border: 2px solid red; */
        text-align: left;
    }

    .cartfooter {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    /* navbar */
    .searchbar_div {
        border: 1px solid black;
        display: flex;
        flex-wrap: nowrap;
        height: 3vh;
        margin: 25px 0px 10px 20px;
        box-sizing: border-box;
        /* margin-top: 5%; */
        width: 35%;
        border-radius: 25px;
    }

    .searchbar_div input {
        padding: 1%;
        box-sizing: border-box;
        border: none;
        outline: none;
        width: 80%;
        /* padding: 1%; */
    }

    .searchbar_div button {
        background: none;
        border: none;
        margin-left: 10px;
        cursor: pointer;
    }

    .udemylogo_div {
        /* border: 2px solid red; */
        /* width: 6%;
        margin: 2% 0% 2% 0%; */
    }

    .navbar_cat {
        /* border: 2px solid black; */
        margin-top: 1%;
        cursor: pointer;
    }

    .heartlogo {
        /* border: 2px solid red; */
        align-content: center;
        margin-top: 1.8%;
    }

    .profilediv {
        border-radius: 50%;
        box-sizing: border-box;
        /* border: 2px solid red; */
        height: 3vh;
        margin-top: 2%;
        /* padding: 10%; */
        background-color: #333;
    }

    .usernav {
        /* border: 2px solid red; */
        height: 3vh;
        margin-top: 2.5%;
        width: 5%;
    }

    .logroute {
        position: absolute;
        width: 12%;
        background-color: white;
        border: 2px solid black;
        top: 9.5%;
        right: 3%;
        z-index: 10;
    }

    .udemybustab {
        display: none;
    }

    .subsub {
        background-color: white;
        border: 1px solid black;
        position: fixed;
        top: 9.5%;
        left: 35%;
        height: 80vh;
        box-sizing: border-box;
    }
}

/* Media Query for Mobile */
@media only screen and (max-width:599px) {
    .navbar {
        display: none;
    }

    .image-carousel {
        height: 25vh;
    }

    .trustedby_div {
        width: 100%;
        background-color: rgb(249, 247, 250);
        margin: auto;
        height: 25vh;
    }

    .mainbrandsimg_div {
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        justify-content: space-around;
    }

    .brandsimg_div {
        /* border: 2px solid black; */
        width: 20%;
        margin-bottom: 2%;
        margin-right: 1%;
        height: 6vh;
    }
}