.signupdiff_div {
    border: 1px solid black;
    display: flex;
    padding: 0;
    width: 100%;
    margin-bottom: 2%;
    height: 50px;
    /* height: 6vh; */
}

.signuph4 {
    padding-top: 3%;
    margin: 0;
    margin-left: 3%;
    /* border: 1px solid green; */
}

.logosignup {
    /* border: 2px solid red; */
    height: fit-content;
    margin-left: 2%;
}

.logogoogle {
    /* border: 2px solid brown; */
    margin-top: 20%;
}

.form-group input::placeholder {
    font-weight: bold;
    font-size: 1em;
    color: black;
}

.loginorg {
    margin: 10px;
    padding: 0;
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: underline;
   
}
.navdeco{
    margin-top: 10px;
}