/* Category Page */
.navsub {
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-transform: capitalize;
    background-color:white;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
   
}

.textdeconone {
    text-decoration: none;
    color: black;
}

.arrowimg {
    height: 7vh;
    /* border: 1px solid black; */
    /* border-bottom: #ccc; */
}

.navsub h5 {
    margin: 1.2em;
}

.categorypage_maindiv {
    width: 85%;
    /* border: 2px solid black; */
    margin: auto;
    text-align: left;
}
.get-started{
    margin: 20px 0;

}
.topic_categoryPage {
    text-transform: capitalize;
    /* margin-bottom: 4%; */
    margin: 40px 0;
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
}

.h5normal {
    font-weight: 500;
}

.mostpop {
    margin-bottom: 1%;
}

.line {
    width: 8%;
}

.linehr {
    height: 0.1vh;
    background-color: black;
}

.mostpop_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.mostitem_div {
    width:300px;
    height: 330px;
    position: relative;
}

.topicitem {
    margin: 2%;
}

.topicfont {
    margin: 0;
}

.pmargin {
    margin: 5px 0px 0px 0px;
    font-size: small;
    font-weight: 500;
    color: #ccc;
}

.rating_div {
    display: flex;
    margin: 1%;
}

.bestsel {
    padding: 2%;
    background-color: rgb(225, 225, 59);
    width: fit-content;
}

.popmain_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    /* border: 2px solid black; */
    margin:20px 0;
}

.poptopics {
    border: 1px solid black;
    padding: 1.5%;
    width: 220px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px;
}
.popinstruc_div h2{
    margin: 20px 0;

}
.popinstruc_maindiv {
   
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;

}

.popinstruc_main {
    display: flex;
    border: 1px solid black;
    width: 400px;
    padding-bottom: 1%;
}

.imginstruc_div {
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    width: 30%;
    height: 10vh;
    text-align: center;
    margin-top: 3%;
}

.immgfil {
    border-radius: 50%;
}

.instruc_content {
    width: 65%;
    /* border: 1px solid red; */
}

.allcourses_maindiv {
    /* border: 2px solid black; */
    display: flex;
}

.leftcontainer {
    width: 25%;
    /* border: 2px solid red; */
    height: fit-content;
    padding: 0px 20px 0px 0px;
}

.ratingdropdown {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.stars_div input[type='radio'] {
    width: 15px;
    height: 15px;
    accent-color: black;
}

.stars_div input[type='checkbox'] {
    width: 15px;
    height: 15px;
    accent-color: black;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.rotateflip {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.droplogo_div {
    /* border: 2px solid black; */
    height: 5vh;
    margin-top: 5%;
}

.stars_div {
    display: flex;
    margin-bottom: 3%;
}

.rightcontainer {
    width: 75%;
    /* border: 2px solid green; */
}

.item_maindiv {
    display: flex;
    position: relative;
    /* border: 2px solid brown; */
    min-height: 20vh;
    margin-bottom: 2%;
}

.item_imgdiv {
    /* border: 1px solid black; */
    width: 30%;
    /* height: 20vh; */
}

.item_contentdiv {
    /* border: 2px solid black; */
    width: 58%;
    margin-left: 2%;
    height: 20vh;
}

.padd {
    margin: 0;
}


/* arrow */
.container-row {
    display: flex;
}

.container {
    position: relative;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.allcourses_maindiv {
    position: relative;
}

.arrow-container {
    position: absolute;
    /* bottom: 70%; */
    left: 98%;
    top: -5%;
    /* left: 100%; */
    /* right: -50%; */
    width: 280px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.additional-content h5{
    margin: 10px 0;
}
.arrow-containertwo {
    position: absolute;
    bottom: 103%;
    left: 30%;
    width: 380px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.arrow-containertwo .heartbutton_img{
    margin-top: 10px;
    width: 35px;
    height: 35px;
}
.arrow-container .heartbutton_img{
   
    height: 35px;
    margin-top: 10px;
    /* border: 1px solid black; */
}
.arrow {
    position: absolute;
    transform: translateX(-50%);
    border: solid;
    border-width: 10px 10px 0px 10px;
    border-color: transparent gray transparent transparent;
   
    
}
.arrow-container .arrow{
    top: 50%;
    left: -3%;
    transform: rotate(135deg);
}
.arrow-containertwo .arrow{
    top: 98%;
    left: 50%;
    transform: rotate(45deg);
}


.container:hover {
    background-color: #f0f0f0;
}

.container.hovered {
    z-index: 1;
}

.container.hovered .arrow-container {
    display: block;
}

.pointlist {
    padding-inline-start: 8%;
    padding: 10px 0;
}
.pointlist li{
    padding: 5px 0;
}

.buttondiv {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.buttondiv-addtocart {
    display: flex;
    /* height: 50px; */
    /* border: 1px solid black; */
    justify-content: space-between;
}
@media (max-width:555px) {
    .popmain_div{
        justify-content: center;
    }
    .leftcontainer{
        display: none;
    }
    .stars_div{
        display: none;
    }
    .item_imgdiv{
        width: 50%;
    }
}
@media (max-width:765px) {
    
    .leftcontainer{
        display: none;
    }
    .rightcontainer{
        width: 100%;
    }
    .stars_div{
        display: none;
    }
}


.addtocart {
    width: 200px;
    padding: 4%;
    background-color: blueviolet;
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

